body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    width: 100vw;
    height: 40vh;
}


#planes{
    height: 65vh;
    width: 100vw;
}

#contacto{
    height: 55vh;
    width: 100vw;
}
